.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.btn {
  display: flex;
  height: 40px;
  width: 350px;
  background-color: grey;
  border-radius: 20px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.btnText {
  text-align: center;
  color: white;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.question {
  text-align: center;
}

.amount {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
